@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    outline: none;
  }

  /* カラー設定 */

  .bg-gold-1000 {
    background-color: #b7a079;
  }
  .bg-gold-900 {
    background: linear-gradient(#b5925a, #6a5536);
    /* background-color: #372d1d; */
  }
  .bg-gold-800 {
    background: linear-gradient(#b5925a, #6a5536);
    /* background-color: #372d1d; */
  }
  .bg-gold-700 {
    background: linear-gradient(#b5925a, #6a5536);
    /* background-color: #5b492e; */
  }
  .bg-gold-600 {
    background: linear-gradient(#b5925a, #6a5536);
    /* background-color: #5b492e; */
  }
  .bg-gold-500 {
    background: linear-gradient(#b5925a, #6a5536);
    /* background-color: #725b3a; */
  }
  .bg-gold-400 {
    background: linear-gradient(#b5925a, #9a7d4d);
    /* background-color: #725b3a; */
  }
  .bg-gold-300 {
    background: linear-gradient(#b5925a, #9a7d4d);
    /* background-color: #96794b; */
  }
  .bg-gold-200 {
    background: linear-gradient(#a48552, #b5925a);
    /* background-color: #96794b; */
  }
  .bg-gold-100 {
    background: linear-gradient(#c8b392, #a48552);
    /* background-color: #b5925a; */
  }
  .bg-text-1000 {
    color: #b7a079;
  }
  .text-gold-900 {
    color: #372d1d;
  }
  .text-gold-800 {
    color: #372d1d;
  }
  .text-gold-700 {
    color: #5b492e;
  }
  .text-gold-600 {
    color: #5b492e;
  }
  .text-gold-500 {
    color: #725b3a;
  }
  .text-gold-400 {
    color: #725b3a;
  }
  .text-gold-300 {
    color: #96794b;
  }
  .text-gold-200 {
    color: #96794b;
  }
  .text-gold-100 {
    color: #fcf3dd;
  }

  body,
  main {
    background-color: #f7f7f7;
  }

  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer bg-white hover:bg-gold-100 hover:text-white hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }

  :root {
    --bg: #b7a079;
    --bg-accent: #484a4d;
    --text-color: #fff;
    --nav-size: 60px;
    --border: 1px sold #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
  }

  .navbar {
    background: radial-gradient(rgba(181, 146, 90, 0.8), rgba(62, 50, 33, 0.8));
    /* background-color: rgba(106, 85, 54, 0.85); */
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  .accordion {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
  }

  .category-title {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .accordion-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }

  .icon-button:hover {
    filter: brightness(1.2);
  }

  .icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }

  /* Dropdown Menu */
  .dropdown {
    position: absolute;
    top: 80px;
    width: 300px;
    transform: translateX(-45%);
    /* background-color: var(--bg); */
    background: radial-gradient(#b5925a, #6a5536);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }

  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }

  .menu-item .icon-button {
    margin-right: 0.5rem;
  }

  .menu-item .icon-button:hover {
    filter: none;
  }

  .menu-item:hover {
    background-color: #ccb48b;
  }

  .icon-right {
    margin-left: auto;
  }

  .menu {
    width: 100%;
  }

  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }

  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }

  .menu-primary-exit {
    position: absolute;
  }

  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }

  .menu-secondary-enter {
    transform: translateX(110%);
  }

  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }

  .menu-secondary-exit {
    position: absolute;
  }

  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }

  .table-style {
    /* left: calc(100vw - theme("spacing.14")); */
    left: 100vw;
  }

  th {
    background-color: #b7a079;
    padding: 0 6px;
    font-weight: 600;
    color: #fff;
    width: 100px !important;
    font-size: 14px;
  }

  .tdBgWhite,
  .tdBgGray {
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    font-size: 14px;
  }

  .tdBgWhite {
    background-color: #fff;
    padding: 4px;
    margin: 4px;
  }

  .tdBgGray {
    background-color: #eee;
  }

  table th:first-child,
  table td:first-child {
    /*先頭列を左に固定*/
    position: sticky;
    left: 0;
    border-right: solid 2px #aaa;
  }

  table {
    table-layout: fixed;
  }

  label.max_300px {
    display: block;
    width: 82%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .tb-text-wrap {
    width: 100% !important;
    box-sizing: border-box !important;
    overflow-wrap: break-word !important;
  }

  .text-wrap {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .keyword-button {
    margin-left: 0 !important;
    margin-right: 12px !important;
    margin-bottom: 12px !important;
  }
}
